<a href="https://www.kaggle.com/code/mennaahmad/datascienceproject-9bf85d-016508-024bff?scriptVersionId=176556284" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
import pandas as pd 
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [ ]:
#read data that from 2005 to 2014
accident_data = pd.read_csv('/kaggle/input/uk-accidents-10-years-history-with-many-variables/Accidents0514.csv')
vehicles_data = pd.read_csv('/kaggle/input/uk-accidents-10-years-history-with-many-variables/Vehicles0514.csv')
casualties_data = pd.read_csv('/kaggle/input/uk-accidents-10-years-history-with-many-variables/Casualties0514.csv')

In [ ]:
accident_data.shape

In [ ]:
accident_data.head()

In [ ]:
vehicles_data.shape

In [ ]:
vehicles_data.head()

In [ ]:
casualties_data.shape

In [ ]:
casualties_data.head()

In [ ]:
# accident_data.replace(-1, 'NaN', inplace=True)
# vehicles_data.replace(-1, 'NaN', inplace=True)
# casualties_data.replace(-1, 'NaN', inplace=True)

In [ ]:
# Merge Accidents and Casualties dataframes on 'Accident_Index'
final_data = pd.merge(accident_data, casualties_data, on='Accident_Index')
# Merge df with Vehicles dataframe on 'Accident_Index'
final_data = pd.merge(final_data, vehicles_data, on='Accident_Index')
#remove Accidents, Casualties, and Vehicles dataframes
del accident_data, casualties_data, vehicles_data

In [ ]:
# final_data = pd.merge(accident_data, casualties_data, on='Accident_Index', how='left')
# final_data = pd.merge(final_data, vehicles_data, on='Accident_Index', how='left')

In [ ]:
final_data.head()

In [ ]:
print(final_data.columns)

In [ ]:
import pandas as pd

column_names = ['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity',
       'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week',
       'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       'Junction_Detail', 'Junction_Control', '2nd_Road_Class',
       '2nd_Road_Number', 'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'LSOA_of_Accident_Location', 'Vehicle_Reference_x',
       'Casualty_Reference', 'Casualty_Class', 'Sex_of_Casualty',
       'Age_of_Casualty', 'Age_Band_of_Casualty', 'Casualty_Severity',
       'Pedestrian_Location', 'Pedestrian_Movement', 'Car_Passenger',
       'Bus_or_Coach_Passenger', 'Pedestrian_Road_Maintenance_Worker',
       'Casualty_Type', 'Casualty_Home_Area_Type', 'Vehicle_Reference_y',
       'Vehicle_Type', 'Towing_and_Articulation', 'Vehicle_Manoeuvre',
       'Vehicle_Location-Restricted_Lane', 'Junction_Location',
       'Skidding_and_Overturning', 'Hit_Object_in_Carriageway',
       'Vehicle_Leaving_Carriageway', 'Hit_Object_off_Carriageway',
       '1st_Point_of_Impact', 'Was_Vehicle_Left_Hand_Drive?',
       'Journey_Purpose_of_Driver', 'Sex_of_Driver', 'Age_of_Driver',
       'Age_Band_of_Driver', 'Engine_Capacity_(CC)', 'Propulsion_Code',
       'Age_of_Vehicle', 'Driver_IMD_Decile', 'Driver_Home_Area_Type']

# Convert the list to a pandas Series
column_series = pd.Series(column_names)

# Check for duplicates
duplicates = column_series[column_series.duplicated()]
if not duplicates.empty:
    print("Duplicated column names:")
    print(duplicates)
else:
    print("No duplicated column names found.")

In [ ]:
df = final_data.copy()

In [ ]:
df.head()

In [ ]:
!pip install xlrd

In [ ]:
df.columns.duplicated()

In [ ]:
# # Read the Excel file and sheet
# casualty_severity = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Accident Severity")

# # Perform left join
# df = pd.merge(df, casualty_severity, left_on="Casualty_Severity", right_on="code", how="left")

# # Rename the column
# df.rename(columns={"label": "Casualty_Outcome"}, inplace=True)

# # Optionally, remove the temporary variable
# del casualty_severity

# Read the Excel file and sheet
casualty_severity = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Accident Severity")

# Perform left join
df = pd.merge(df, casualty_severity, left_on="Casualty_Severity", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Casualty_Outcome"}, inplace=True)

# Optionally, remove the temporary variable
del casualty_severity

In [ ]:
# Read the Excel file and sheet
location_code = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Police Force")

# Perform left join
df = pd.merge(df, location_code, left_on="Police_Force", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Location"}, inplace=True)

# Optionally, remove the temporary variable
del location_code

In [ ]:
# Read the Excel file and sheet
junction_type = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Junction Detail")

# Perform left join
df = pd.merge(df, junction_type, left_on="Junction_Detail", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Junction"}, inplace=True)

# Optionally, remove the temporary variable
del junction_type

In [ ]:
# Read the Excel file and sheet
light_conditions = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Light Conditions")

# Perform left join with specified suffixes
df = pd.merge(df, light_conditions, left_on="Light_Conditions", right_on="code", how="left", suffixes=('_main', '_light'))

# Rename the column
df.rename(columns={"label_light": "Lighting"}, inplace=True)

# Optionally, remove the temporary variable
del light_conditions

In [ ]:
# Read the weather conditions data
weather_conditions = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Weather")

# Perform left join to map weather condition codes to labels
df = pd.merge(df, weather_conditions, left_on="Weather_Conditions", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Weather"}, inplace=True)

# Optionally, remove the temporary variable
del weather_conditions

In [ ]:
# Read the surface conditions data
surface_conditions = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Road Surface")

# Perform left join to map road surface condition codes to labels
df = pd.merge(df, surface_conditions, left_on="Road_Surface_Conditions", right_on="code", how="left", suffixes=('_left', '_right'))

# Rename the column
df.rename(columns={"label": "Surface"}, inplace=True)

# Optionally, remove the temporary variable
del surface_conditions

In [ ]:
vehicle_type = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Vehicle Type")

# Perform left join to map vehicle type codes to labels
df = pd.merge(df, vehicle_type, left_on="Vehicle_Type", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Vehicle"}, inplace=True)

# Optionally, remove the temporary variable
del vehicle_type

In [ ]:
# Check if df contains any columns named "code" or "label"
if "code" in df.columns or "label" in df.columns:
    # If so, rename or drop these columns
    df.rename(columns={"code": "code_df", "label": "label_df"}, inplace=True)
    # Or you can drop them if they are not needed
    # df.drop(columns=["code", "label"], inplace=True)

# Read the vehicle manoeuvre data
vehicle_manoeuvre = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Vehicle Manoeuvre")

# Perform left join to map vehicle manoeuvre codes to labels
df = pd.merge(df, vehicle_manoeuvre, left_on="Vehicle_Manoeuvre", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Manoeuvre"}, inplace=True)

# Optionally, remove the temporary variable
del vehicle_manoeuvre

In [ ]:
# Check if df contains any columns named "code" or "label"
if "code" in df.columns or "label" in df.columns:
    # If so, rename or drop these columns
    df.rename(columns={"code": "code_df", "label": "label_df"}, inplace=True)
    # Or you can drop them if they are not needed
    # df.drop(columns=["code", "label"], inplace=True)

# Read the skidding data
skidding = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Skidding and Overturning")

# Perform left join to map skidding codes to labels
df = pd.merge(df, skidding, left_on="Skidding_and_Overturning", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Skidding"}, inplace=True)

# Optionally, remove the temporary variable
del skidding

In [ ]:
# Check if df contains any columns named "code" or "label"
if "code" in df.columns or "label" in df.columns:
    # If so, rename or drop these columns
    df.rename(columns={"code": "code_df", "label": "label_df"}, inplace=True)
    # Or you can drop them if they are not needed
    # df.drop(columns=["code", "label"], inplace=True)

# Read the journey purpose data
journey_purpose = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Journey Purpose")

# Perform left join to map journey purpose codes to labels
df = pd.merge(df, journey_purpose, left_on="Journey_Purpose_of_Driver", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Journey"}, inplace=True)

# Optionally, remove the temporary variable
del journey_purpose

In [ ]:
# Check if df contains any columns named "code" or "label"
if "code" in df.columns or "label" in df.columns:
    # If so, rename or drop these columns
    df.rename(columns={"code": "code_df", "label": "label_df"}, inplace=True)
    # Or you can drop them if they are not needed
    # df.drop(columns=["code", "label"], inplace=True)

# Read the age band data
age_band = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Age Band")

# Perform left join to map age band codes to labels
df = pd.merge(df, age_band, left_on="Age_Band_of_Driver", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Age_Band"}, inplace=True)

# Optionally, remove the temporary variable
del age_band

In [ ]:
df.head()

In [ ]:
columns_with_minus_one = df.columns[(df == -1).any()].tolist()

print("Columns containing -1:")
print(columns_with_minus_one)

In [ ]:
df['Casualty_Outcome']

In [ ]:
df_cat_copy = df.copy()

**Eliminating extra variables**

In [ ]:
# Drop specified columns from the DataFrame
columns_to_drop = ["Driver_Home_Area_Type", "Driver_IMD_Decile", "Propulsion_Code", "Age_Band_of_Driver", 
                   "1st_Point_of_Impact", "Hit_Object_off_Carriageway", "Vehicle_Leaving_Carriageway", 
                   "Hit_Object_in_Carriageway", "Junction_Location", "Vehicle_Location-Restricted_Lane", 
                   "Towing_and_Articulation", "Pedestrian_Road_Maintenance_Worker", "Pedestrian_Movement", 
                   "Pedestrian_Location", "Casualty_Reference", "LSOA_of_Accident_Location", 
                   "Did_Police_Officer_Attend_Scene_of_Accident", "Urban_or_Rural_Area", "Carriageway_Hazards", 
                   "Pedestrian_Crossing-Physical_Facilities", "Pedestrian_Crossing-Human_Control", 
                   "2nd_Road_Class", "2nd_Road_Number", "Junction_Control", "Junction_Detail", 
                   "Local_Authority_(Highway)"]

accidents_data_cleanup = ['Longitude','Time','Speed_limit', 'Junction_Detail', 'Light_Conditions', 'Road_Type',
                          'Did_Police_Officer_Attend_Scene_of_Accident','Weather_Conditions', 
                          'Road_Surface_Conditions', 'Special_Conditions_at_Site','Carriageway_Hazards', 
                          'Urban_or_Rural_Area', 'Accident_Severity', '1st_Road_Class', 
                          'Pedestrian_Crossing-Human_Control', 
                          'Pedestrian_Crossing-Physical_Facilities', 
                          'Police_Force','Vehicle_Type', 'Sex_of_Driver', 'Age_of_Driver', 
                          'Vehicle_Manoeuvre']

df_cat_copy = df_cat_copy.drop(columns=columns_to_drop)

In [ ]:
columns_to_drop = ['code','code_df']

df_cat_copy = df_cat_copy.drop(columns=columns_to_drop)

In [ ]:
columns_to_drop = ['code_x','code_y','code_main','code_light','code_left','code_right']

df_cat_copy = df_cat_copy.drop(columns=columns_to_drop)

In [ ]:
df_cat_copy.head()

In [ ]:
columns_with_minus_one = df_cat_copy.columns[(df_cat_copy == -1).any()].tolist()

print("Columns containing -1:")
print(columns_with_minus_one)

In [ ]:
df_cat_copy.replace(-1, 'NaN', inplace=True)
df_cat_copy.replace(-1, 'NaN', inplace=True)
df_cat_copy.replace(-1, 'NaN', inplace=True)

In [ ]:
columns_with_minus_one = df_cat_copy.columns[(df_cat_copy == -1).any()].tolist()

print("Columns containing -1:")
print(columns_with_minus_one)

In [ ]:
df_cat_copy.columns

In [ ]:
df_cat_copy.info()

In [ ]:
df_cat_copy['Weather_Conditions']

In [ ]:
col_drop =['Journey_Purpose_of_Driver','Skidding_and_Overturning','Vehicle_Manoeuvre','Road_Surface_Conditions','Weather_Conditions','Light_Conditions','Casualty_Severity']
df_cat_copy = df_cat_copy.drop(columns=col_drop)

In [ ]:
col_drop =['Vehicle_Type','Police_Force']
df_cat_copy = df_cat_copy.drop(columns=col_drop)
df_cat_copy.rename(columns={'Location': 'Police_force'}, inplace=True)
df_cat_copy.rename(columns={'label_x': 'Light_conditions'}, inplace=True)
df_cat_copy.rename(columns={'label_y': 'Weather_conditions'}, inplace=True)
df_cat_copy.head()

# Reducing data rows to 50000

In [ ]:



# Calculate the number of rows to delete
#num_rows_to_delete = 3500000

# Randomly select rows to delete
#rows_to_delete =df_cat_copy.sample(n=num_rows_to_delete, random_state=42)

# Drop the selected rows from the original DataFrame
#df_cat_copy_subset =df_cat_copy.drop(rows_to_delete.index)

# Now df_subset contains the DataFrame with 500,000 rows after deleting 3.5 million randomly

# **Data Cleaning**

**Dealing with missing values**

In [ ]:
# Check for missing values in the entire DataFrame
missing_values = df_cat_copy.isnull()

# Count the number of missing values in each column
missing_counts =df_cat_copy.isnull().sum()

# Calculate the percentage of missing values in each column
missing_percentages = (df_cat_copy.isnull().sum() / len(df_cat_copy)) * 100

# Print the results
print("Missing value counts:")
print(missing_counts)
print("\nMissing value percentages:")
print(missing_percentages)

# print("\nMissing values per column:")
# print(final_data.isnull().sum())

In [ ]:
# Remove rows with missing values
df_cat_copy_cleaned = df_cat_copy.dropna()

# Remove columns with missing values
df_cat_copy_cleaned = df_cat_copy.dropna(axis=1)

In [ ]:
df_cat_copy_cleaned.isnull().sum()

**Eliminating Duplicates**

In [ ]:
df_cat_copy_cleaned.shape

In [ ]:
# Check for duplicated rows
duplicated_rows = df_cat_copy_cleaned.duplicated()

# Select rows that are duplicated
duplicated = df_cat_copy_cleaned[duplicated_rows]

# Print duplicated data
print("Duplicated rows:")
print(duplicated)

In [ ]:
# Drop duplicate rows
df_cat_copy_cleaned.drop_duplicates(inplace=True)

In [ ]:
df_cat_copy_cleaned.shape

**detect and remove outliers**

In [ ]:
import cufflinks as cf
import plotly.offline as py
import plotly.express as px

In [ ]:
# Set up Plotly offline mode
cf.go_offline()
py.init_notebook_mode()

In [ ]:
# Convert selected columns to numeric type
numeric_columns = ['Age_of_Driver', 'Speed_limit', 'Number_of_Vehicles']
df_cat_copy_cleaned[numeric_columns] = df_cat_copy_cleaned[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [ ]:
# Drop rows with missing or non-numeric values
df_cat_copy_cleaned.dropna(subset=numeric_columns, inplace=True)

In [ ]:
# Visualize data distribution using box plots
#df_cat_copy_cleaned[numeric_columns].iplot(kind='box', title='Box Plot of Variables')

In [ ]:
# Define a function to detect outliers using IQR method
def detect_outliers_iqr(data, variable):
    Q1 = data[variable].quantile(0.25)
    Q3 = data[variable].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[variable] < lower_bound) | (data[variable] > upper_bound)]
    return outliers

In [ ]:
# Detect outliers for each variable of interest
outliers = pd.DataFrame()
for var in numeric_columns:
    outliers = pd.concat([outliers, detect_outliers_iqr(df_cat_copy_cleaned, var)])

In [ ]:
# Remove outliers from the dataset
clean_data = df_cat_copy_cleaned.drop(outliers.index)

In [ ]:
# Visualize outliers using scatter plot
fig = px.scatter(outliers, x='Age_of_Driver', y='Speed_limit', title='Outliers Detected')
fig.show()

**OneHotEncoder**

**Scaling**

In [ ]:
from sklearn.preprocessing import MinMaxScaler

# Exclude non-numeric columns
numeric_cols = df_cat_copy_cleaned.select_dtypes(include=['number']).columns

# Instantiate the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the numeric columns
scaled_data = scaler.fit_transform(df_cat_copy_cleaned[numeric_cols])

# Convert the scaled data back to a DataFrame
scaled_df = pd.DataFrame(scaled_data, columns=numeric_cols)

In [ ]:
scaled_df.head()

**Normalization**

First OneHotEncoder

In [ ]:
df_cat_copy_cleaned.info()

In [ ]:

# Convert numeric columns to string if they represent categories
#df_cat_copy_cleaned['Accident_Severity'] = df_cat_copy_cleaned['Accident_Severity'].astype(str)
#df_cat_copy_cleaned['Day_of_Week'] = df_cat_copy_cleaned['Day_of_Week'].astype(str)

#df_cat_copy_cleaned.fillna()

# Identify categorical columns
#categorical_cols = df.select_dtypes(include=['object']).columns

# One-hot encode categorical columns
#encoded_df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# Now encoded_df contains the one-hot encoded DataFrame

In [ ]:
#from sklearn.preprocessing import OneHotEncoder

# Instantiate the OneHotEncoder
#encoder = OneHotEncoder()

# Fit and transform the data
#encoded_data = encoder.fit_transform(df_cat_copy_cleaned)

# Convert the encoded data back to a DataFrame
#encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(df_cat_copy_cleaned.columns))

In [ ]:
#from sklearn.preprocessing import StandardScaler

# Instantiate the StandardScaler
#scaler = StandardScaler()

# Fit and transform the data
#normalized_data = scaler.fit_transform(df_cat_copy_cleaned)

# Convert the normalized data back to a DataFrame
#normalized_df = pd.DataFrame(normalized_data, columns=df_cat_copy_cleaned.columns)

**SimpleImputer**

In [ ]:

from sklearn.impute import SimpleImputer


# Identify numeric and non-numeric columns
numeric_cols = df_cat_copy_cleaned.select_dtypes(include=['number']).columns
non_numeric_cols = df_cat_copy_cleaned.select_dtypes(exclude=['number']).columns

# Impute missing values for numeric columns
numeric_imputer = SimpleImputer(strategy='mean')
df_numeric_imputed = pd.DataFrame(numeric_imputer.fit_transform(df_cat_copy_cleaned[numeric_cols]), columns=numeric_cols)

# Impute missing values for non-numeric columns
non_numeric_imputer = SimpleImputer(strategy='most_frequent')
df_non_numeric_imputed = pd.DataFrame(non_numeric_imputer.fit_transform(df_cat_copy_cleaned[non_numeric_cols]), columns=non_numeric_cols)

# Concatenate numeric and non-numeric columns
df_imputed = pd.concat([df_numeric_imputed, df_non_numeric_imputed], axis=1)

# Now df_imputed contains your DataFrame with missing values imputed separately for numeric and non-numeric columns

In [ ]:
df_imputed.head()

**Arranging the data logically and sequentially**

In [2]:
print(df_cat_copy_cleaned.info())

In [ ]:
# The desired column order
desired_order = [
    'Accident_Index',
    'Date',
    'Day_of_Week',
    'Local_Authority_(District)',
    'Police_force',
    '1st_Road_Class',
    '1st_Road_Number',
    'Road_Type',
    'Junction',
    'Surface',
    'Weather_conditions',
    'Light_conditions',
    'Speed_limit',
    'Special_Conditions_at_Site',
    'Number_of_Vehicles',
    'Vehicle_Reference_x',
    'Vehicle',
    'Was_Vehicle_Left_Hand_Drive?',
    'Vehicle_Reference_y',
    'Sex_of_Driver',
    'Age_of_Driver',
    'Age_Band',
    'Number_of_Casualties',
    'Casualty_Class',
    'Sex_of_Casualty',
    'Age_of_Casualty',
    'Age_Band_of_Casualty',
    'Casualty_Type',
    'Casualty_Home_Area_Type',
    'Car_Passenger',
    'Bus_or_Coach_Passenger',
    'Casualty_Outcome',
    'Engine_Capacity_(CC)',
    'Age_of_Vehicle',
    'Manoeuvre',
    'Journey',
    'Accident_Severity'
]

In [ ]:
# Rearrange the columns in the DataFrame
df_cat_copy_cleaned = df_cat_copy_cleaned[desired_order]

In [ ]:
print(df_cat_copy_cleaned.info())

**Grouping Data**

In [ ]:
# Grouping data horizontally (columns)
vehicle_info_cols = ['Vehicle_Reference_x', 'Vehicle_Reference_y', 'Vehicle', 'Was_Vehicle_Left_Hand_Drive?', 
                     'Age_of_Vehicle', 'Engine_Capacity_(CC)']
driver_info_cols = ['Sex_of_Driver', 'Age_of_Driver']
casualty_info_cols = ['Casualty_Class', 'Sex_of_Casualty', 'Age_of_Casualty', 'Age_Band_of_Casualty', 
                      'Casualty_Type', 'Casualty_Home_Area_Type', 'Casualty_Outcome']
road_info_cols = ['Road_Type', '1st_Road_Class', '1st_Road_Number', 'Speed_limit', 'Special_Conditions_at_Site', 
                  'Junction', 'Surface']
weather_info_cols = ['Weather_conditions', 'Light_conditions']

In [ ]:
# Grouping data vertically (rows)
severity_groups = df_cat_copy_cleaned.groupby('Accident_Severity')
day_of_week_groups = df_cat_copy_cleaned.groupby('Day_of_Week')

In [ ]:
# Example of accessing grouped data
for severity, severity_group in severity_groups:
    print(f"Accident Severity: {severity}")
    print(severity_group.head())  # Example: Print first few rows of each severity group
    print("\n")

In [ ]:

for day, day_group in day_of_week_groups:
    print(f"Day of Week: {day}")
    print(day_group.head())  # Example: Print first few rows of each day of week group
    print("\n")

**Dealing with inconsistent data entry**

In [ ]:
# Check for unique values in categorical columns
unique_values = df_cat_copy_cleaned['Weather_conditions'].unique()
print(unique_values)

In [ ]:
# Check for unique values in categorical columns
unique_values = df_cat_copy_cleaned['Police_force'].unique()
print(unique_values)

In [ ]:
# Check for unique values in categorical columns
unique_values = df_cat_copy_cleaned['Light_conditions'].unique()
print(unique_values)

In [ ]:
df_cat_copy_cleaned.columns

##### -changing some columns to their appropriate type

In [ ]:



df_cat_copy_cleaned['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

# Convert 'Age_of_Casualty', 'Age_of_Driver', and 'Age_of_Vehicle' columns to numeric (integer or float)
df_cat_copy_cleaned['Age_of_Casualty'] = pd.to_numeric(df_cat_copy_cleaned['Age_of_Casualty'], errors='coerce')
df_cat_copy_cleaned['Age_of_Driver'] = pd.to_numeric(df_cat_copy_cleaned['Age_of_Driver'], errors='coerce')
df_cat_copy_cleaned['Age_of_Vehicle'] = pd.to_numeric(df_cat_copy_cleaned['Age_of_Vehicle'], errors='coerce')

In [ ]:
df_cat_copy_cleaned.info()

### some visuals

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

# Select numeric columns for correlation matrix
numeric_columns = ['Accident_Severity', 'Number_of_Vehicles', 'Number_of_Casualties','Road_Type', 'Speed_limit', 'Vehicle_Reference_y',]

# Calculate correlation matrix
correlation_matrix = df_cat_copy_cleaned[numeric_columns].corr()

# Plot correlation matrix as a heatmap
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title('Correlation Matrix Heatmap')
plt.show()

__ to discover the severity of different accidents we could explore the relation between diff columns

In [ ]:
import matplotlib.pyplot as plt

def explore_relationship(df, var1, var2):
    """
    Explore the relationship between two variables in a DataFrame.
    
    Parameters:
        df (DataFrame): The pandas DataFrame containing the variables.
        var1 (str): The name of the first variable.
        var2 (str): The name of the second variable.
    
    Returns:
        correlation (float): The correlation coefficient between the two variables.
    """
    # Calculate correlation coefficient
    correlation = df[var1].corr(df[var2])
    
    # Create a scatter plot
    plt.figure(figsize=(8, 6))
    plt.scatter(df[var1], df[var2], alpha=0.1)
    plt.title(f'Scatter Plot: {var1} vs. {var2}')
    plt.xlabel(var1)
    plt.ylabel(var2)
    plt.grid(True)
    plt.show()
    
    return correlation

# Example usage:
# correlation = explore_relationship(df, 'Age_of_Driver', 'Number_of_Casualties')

In [ ]:
explore_relationship(df_cat_copy_cleaned, "Number_of_Vehicles" , "Number_of_Casualties")

### discovering the trends in the data

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Set the figure size
plt.figure(figsize=(17, 4))

# Create the bar plot
sns.barplot(x='Speed_limit', y='Age_of_Driver', hue='Sex_of_Driver', data=df_cat_copy_cleaned, ci=None, palette='Set2')

# Add legend outside the plot
plt.legend(bbox_to_anchor=(1, 1))

# Set title and axis labels
plt.title('Speed_limit vs Age of Driver')
plt.xlabel('Speed_limit')
plt.ylabel('Age of Driver')

# Show the plot
plt.show()

In [ ]:
df_cat_copy_cleaned['Sex_of_Driver'].unique()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Frequency table
frequency_table = df_cat_copy_cleaned['Day_of_Week'].value_counts()
print("Frequency Table:")
print(frequency_table)

# Bar chart
plt.figure(figsize=(8, 6))
sns.countplot(data=df_cat_copy_cleaned, x='Day_of_Week')
plt.title('Distribution of Accidents by Severity')
plt.xlabel('Accident Severity')
plt.ylabel('Count')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# Frequency table
frequency_table = df_cat_copy_cleaned['Accident_Severity'].value_counts()
print("Frequency Table:")
print(frequency_table)

# Bar chart
plt.figure(figsize=(8, 6))
sns.countplot(data=df_cat_copy_cleaned, x='Accident_Severity')
plt.title('Distribution of Accidents by Severity')
plt.xlabel('Accident Severity')
plt.ylabel('Count')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

categorical_variable = 'Day_of_Week'

categories = df_cat_copy_cleaned[categorical_variable].unique()

plt.figure(figsize=(15, 10))

for i, category in enumerate(categories, start=1):
    data_category = df_cat_copy_cleaned[df_cat_copy_cleaned[categorical_variable] == category]
    
    grouped_data = data_category.groupby(['Date', 'Accident_Severity']).size().unstack()
    mean_severity = grouped_data.mean(axis=1)
    std_severity = grouped_data.std(axis=1)
    
    plt.subplot(3, 3, i)
    plt.errorbar(mean_severity.index, mean_severity, yerr=std_severity, label=f'{categorical_variable} {category}')
    plt.title(f'Severity Trend for {categorical_variable} {category}')
    plt.xlabel('Date')
    plt.ylabel('Mean Severity')
    plt.legend()

plt.tight_layout()
plt.show()

#### According to this visualization there is upward trend in average accident severity from day 1->4
#### Then decreases in day 5-7
#### The error bars show some variability in severity around the average for each day. The width of the error bars suggests that the severity might be more variable on certain days of the week compared to others.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd  # Assuming 'Date' needs conversion

# Define the categorical variable with a time component
categorical_variable = 'Day_of_Week'

# Get the unique categories of the variable
categories = df_cat_copy_cleaned[categorical_variable].unique()

# Create subplots for each severity category
plt.figure(figsize=(15, 10))  # Adjust figure size as needed

for i, category in enumerate(categories, start=1):
    # Filter the data for the current category
    data_category = df_cat_copy_cleaned[df_cat_copy_cleaned[categorical_variable] == category]

    # Handle missing dates (if necessary)
    data_category.dropna(subset=['Date'], inplace=True)

    # Convert 'Date' to datetime format (if necessary)
    data_category['Date'] = pd.to_datetime(data_category['Date'])  # Example conversion

    # Group by date and severity category and calculate count of accidents
    grouped_data = data_category.groupby(['Date', 'Accident_Severity']).size().unstack()

    # Reindex to ensure all severity categories are present as columns
    grouped_data = grouped_data.reindex(columns=['Fatal', 'Serious', 'Slight'], fill_value=0)

    # Plot the time series for the current category
    plt.subplot(3, 3, i)
    sns.lineplot(data=grouped_data, dashes=False)

    # Adjust date ticks and labels (example)
    plt.xticks(rotation=45, ha='right')  # Rotate long date labels

    # Consider adjusting y-axis scaling if needed

    plt.title(f'Severity Trend for {categorical_variable} {category}')
    plt.xlabel('Date')
    plt.ylabel('Number of Accidents')
    plt.legend(title='Severity')

plt.suptitle('Accident Severity Trends by Day of Week', fontsize=14)  # Overall figure title (optional)
plt.tight_layout()
plt.show()

In [ ]:
df_cat_copy['Longitude'] = pd.to_numeric(df_cat_copy['Longitude'], errors='coerce')

In [ ]:
# Create 3D scatter plot
import plotly.express as px

fig = px.scatter_3d(
    df_cat_copy,
    x="Longitude",
    y="Latitude",
    z="Accident_Severity",
    labels={"lon": "longitude", "lat": "latitude", "Accident_Severity": "Severity"},
    width=600,
    height=500,
)

# Refine formatting
fig.update_traces(
    marker={"size": 4, "line": {"width": 2, "color": "DarkSlateGrey"}},
    selector={"mode": "markers"},
)

# Display figure
fig.show()

In [ ]:
df_cat_copy_cleaned["Accident_Severity"].unique()

In [ ]:
fig = px.scatter_mapbox(
    df_cat_copy,  # Our DataFrame
    lon="Longitude",
    lat="Latitude",
    width=600,  # Width of map
    height=600,  # Height of map
    color="Accident_Severity",
    hover_data=["Accident_Severity"],  # Display price when hovering mouse over house
)

fig.update_layout(mapbox_style="open-street-map")

fig.show()

In [ ]:
df_cat_copy.info()

In [ ]:
df_cat_copy["Accident_Severity"].unique()

In [ ]:
d