In [28]:
import pandas as pd 
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [29]:
#read data that from 2005 to 2014
accident_data = pd.read_csv('/kaggle/input/uk-accidents-10-years-history-with-many-variables/Accidents0514.csv')
vehicles_data = pd.read_csv('/kaggle/input/uk-accidents-10-years-history-with-many-variables/Vehicles0514.csv')
casualties_data = pd.read_csv('/kaggle/input/uk-accidents-10-years-history-with-many-variables/Casualties0514.csv')

In [30]:
accident_data.shape

(1640597, 32)

In [31]:
accident_data.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863

In [32]:
vehicles_data.shape

(3004425, 22)

In [33]:
vehicles_data.head()

,Accident_Index,Vehicle_Reference,Vehicle_Type,Towing_and_Articulation,Vehicle_Manoeuvre,Vehicle_Location-Restricted_Lane,Junction_Location,Skidding_and_Overturning,Hit_Object_in_Carriageway,Vehicle_Leaving_Carriageway,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,1,9,0,18,0,0,0,0,0,...,1,15,2,74,10,-1,-1,-1,7,1
1,200501BS00002,1,11,0,4,0,3,0,0,0,...,1,1,1,42,7,8268,2,3,-1,-1
2,200501BS00003,1,11,0,17,0,0,0,4,0,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,2,9,0,2,0,0,0,0,0,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,1,9,0,18,0,0,0,0,0,...,1,15,2,49,8,1769,1,4,2,1

In [34]:
casualties_data.shape

(2216720, 15)

In [35]:
casualties_data.head()

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
1,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
2,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
3,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
4,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1

In [36]:
accident_data.replace(-1, 'NaN', inplace=True)
vehicles_data.replace(-1, 'NaN', inplace=True)
casualties_data.replace(-1, 'NaN', inplace=True)

In [37]:
casualties_data.head()

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,NaN,0,1
1,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,NaN,11,1
2,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,NaN,9,1
3,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,NaN,0,1
4,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,NaN,3,NaN

In [38]:
final_data = pd.merge(accident_data, casualties_data, on='Accident_Index', how='left')
final_data = pd.merge(final_data, vehicles_data, on='Accident_Index', how='left')

In [39]:
final_data.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,525680.0,178240.0,-0.19117,51.489096,1,2,1,1,04/01/2005,...,1,15,2,74,10,NaN,NaN,NaN,7,1
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,1,1,1,42,7,8268,2,3,NaN,NaN
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,1,15,2,49,8,1769,1,4,2,1

In [40]:
print(final_data.columns)

Index(['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity',
       'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week',
       'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       'Junction_Detail', 'Junction_Control', '2nd_Road_Class',
       '2nd_Road_Number', 'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'LSOA_of_Accident_Location', 'Vehicle_Reference_x',
       'Casualty_Reference', 'Casualty_Class', 'Sex_of_Casualty',
       'Age_of_Casualty', 'Age_Band_of_Casualty', 'Casualty_Severity',
       'Pedestrian_Location', 'Pedestrian_Movement', 'Car_Passenger',
       'Bus_or_Coach_Passenger', 'Pedestrian_Road_Maintenance_Worker',
       'Casualty_Type', 'Casualty_Home_Area_Type', 'Vehicle_Reference_y',
       'Vehicle_Type', 'Towing_and_Articulation', 'Vehicle_Manoeuvre',
       'Vehicle_Location-Restricted_Lane', 'Junction_Location',
       'Skidding_and_Overturning', 'Hit_Object_in_Carriageway',
       'Vehicle_Leaving_Carriageway', 'Hit_Object_off_Carriageway',
       '1st_Point_of_Impact', 'Was_Vehicle_Left_Hand_Drive?',
       'Journey_Purpose_of_Driver', 'Sex_of_Driver', 'Age_of_Driver',
       'Age_Band_of_Driver', 'Engine_Capacity_(CC)', 'Propulsion_Code',
       'Age_of_Vehicle', 'Driver_IMD_Decile', 'Driver_Home_Area_Type'],
      dtype='object')

In [41]:
import pandas as pd

column_names = ['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR',
       'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity',
       'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week',
       'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)',
       '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit',
       'Junction_Detail', 'Junction_Control', '2nd_Road_Class',
       '2nd_Road_Number', 'Pedestrian_Crossing-Human_Control',
       'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions',
       'Weather_Conditions', 'Road_Surface_Conditions',
       'Special_Conditions_at_Site', 'Carriageway_Hazards',
       'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident',
       'LSOA_of_Accident_Location', 'Vehicle_Reference_x',
       'Casualty_Reference', 'Casualty_Class', 'Sex_of_Casualty',
       'Age_of_Casualty', 'Age_Band_of_Casualty', 'Casualty_Severity',
       'Pedestrian_Location', 'Pedestrian_Movement', 'Car_Passenger',
       'Bus_or_Coach_Passenger', 'Pedestrian_Road_Maintenance_Worker',
       'Casualty_Type', 'Casualty_Home_Area_Type', 'Vehicle_Reference_y',
       'Vehicle_Type', 'Towing_and_Articulation', 'Vehicle_Manoeuvre',
       'Vehicle_Location-Restricted_Lane', 'Junction_Location',
       'Skidding_and_Overturning', 'Hit_Object_in_Carriageway',
       'Vehicle_Leaving_Carriageway', 'Hit_Object_off_Carriageway',
       '1st_Point_of_Impact', 'Was_Vehicle_Left_Hand_Drive?',
       'Journey_Purpose_of_Driver', 'Sex_of_Driver', 'Age_of_Driver',
       'Age_Band_of_Driver', 'Engine_Capacity_(CC)', 'Propulsion_Code',
       'Age_of_Vehicle', 'Driver_IMD_Decile', 'Driver_Home_Area_Type']

# Convert the list to a pandas Series
column_series = pd.Series(column_names)

# Check for duplicates
duplicates = column_series[column_series.duplicated()]
if not duplicates.empty:
    print("Duplicated column names:")
    print(duplicates)
else:
    print("No duplicated column names found.")

No duplicated column names found.

In [42]:
df = final_data.copy()

In [43]:
df.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Was_Vehicle_Left_Hand_Drive?,Journey_Purpose_of_Driver,Sex_of_Driver,Age_of_Driver,Age_Band_of_Driver,Engine_Capacity_(CC),Propulsion_Code,Age_of_Vehicle,Driver_IMD_Decile,Driver_Home_Area_Type
0,200501BS00001,525680.0,178240.0,-0.19117,51.489096,1,2,1,1,04/01/2005,...,1,15,2,74,10,NaN,NaN,NaN,7,1
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,1,1,1,42,7,8268,2,3,NaN,NaN
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,1,1,1,35,6,8300,2,5,2,1
3,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,1,15,1,62,9,1762,1,6,1,1
4,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,1,15,2,49,8,1769,1,4,2,1

In [44]:
#pip install xlrd

In [45]:
df.columns.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False])

In [46]:
# Read the Excel file and sheet
#casualty_severity = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Accident Severity")

# Perform left join
#df = pd.merge(df, casualty_severity, left_on="Casualty_Severity", right_on="code", how="left")

# Rename the column
#df.rename(columns={"label": "Casualty_Outcome"}, inplace=True)

# Optionally, remove the temporary variable
#del casualty_severity

In [47]:
# Merge Accidents and Casualties dataframes on 'Accident_Index'
df = pd.merge(accident_data, casualties_data, on='Accident_Index')

# Merge df with Vehicles dataframe on 'Accident_Index'
df = pd.merge(df, vehicles_data, on='Accident_Index')

# Optionally, remove Accidents, Casualties, and Vehicles dataframes
del accident_data, casualties_data, vehicles_data

In [49]:
# Merge Accidents and Casualties dataframes on 'Accident_Index'
#df = pd.merge(accident_data, casualties_data, on='Accident_Index')

# Merge df with Vehicles dataframe on 'Accident_Index'
#df = pd.merge(df, vehicles_data, on='Accident_Index')

# Optionally, remove Accidents, Casualties, and Vehicles dataframes
#del accident_data, casualties_data, vehicles_data

In [52]:
# Read the Excel file and sheet
#casualty_severity = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Accident Severity")

# Perform left join
#df = pd.merge(df, casualty_severity, left_on="Casualty_Severity", right_on="code", how="left")

# Rename the column
#df.rename(columns={"label": "Casualty_Outcome"}, inplace=True)

# Optionally, remove the temporary variable
#del casualty_severity

In [53]:
# Read the Excel file and sheet
#location_code = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Police Force")

# Perform left join
#df = pd.merge(df, location_code, left_on="Police_Force", right_on="code", how="left")

# Rename the column
#df.rename(columns={"label": "Location"}, inplace=True)

# Optionally, remove the temporary variable
#del location_code

In [ ]:
# Read the Excel file and sheet
light_conditions = pd.read_excel("/kaggle/input/uk-accidents-10-years-history-with-many-variables/Road-Accident-Safety-Data-Guide.xls", sheet_name="Light Conditions")

# Perform left join with specified suffixes
df = pd.merge(df, light_conditions, left_on="Light_Conditions", right_on="code", how="left", suffixes=('_main', '_light'))

# Rename the column
df.rename(columns={"label_light": "Lighting"}, inplace=True)

# Optionally, remove the temporary variable
del light_conditions

In [ ]:
# Read the weather conditions data
weather_conditions = pd.read_excel("../input/Road-Accident-Safety-Data-Guide.xls", sheet_name="Weather")

# Perform left join to map weather condition codes to labels
df = pd.merge(df, weather_conditions, left_on="Weather_Conditions", right_on="code", how="left")

# Rename the column
df.rename(columns={"label": "Weather"}, inplace=True)

# Optionally, remove the temporary variable
del weather_conditions

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

In [ ]:
import os
print(os.listdir("../"))

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# import dataset
accidents = pd.read_csv("/kaggle/input/dataset0/accidents.csv")

# take a look at first entries
accidents.head()

In [ ]:
accidents.info()

In [ ]:
# number of rows by number of columns
accidents.shape

In [ ]:
# check for 'NaN' values
accidents.isnull().sum()

In [ ]:
# Option 1: Remove rows with missing values
accidents_cleaned = accidents.dropna()

In [ ]:
# Option 2: Impute missing values (e.g., fill with mean, median, mode)
numeric_columns = accidents.select_dtypes(include=['float64', 'int64']).columns
accidents_imputed = accidents.copy()
for column in numeric_columns:
    accidents_imputed[column] = accidents[column].fillna(accidents[column].mean())

In [ ]:
# Option 3: Impute missing values using more advanced techniques (e.g., predictive modeling)
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')
accidents_imputed_sklearn = accidents.copy()
accidents_imputed_sklearn[numeric_columns] = imputer.fit_transform(accidents[numeric_columns])

In [ ]:
# After handling missing values, you can save the cleaned dataset to a new file
accidents_cleaned.to_csv("accidents_cleaned.csv", index=False)
accidents_imputed.to_csv("accidents_imputed.csv", index=False)
accidents_imputed_sklearn.to_csv("accidents_imputed_sklearn.csv", index=False)

In [ ]:
# Check the columns in the dataset
print("Original columns:\n", accidents.columns)

In [ ]:
# List of columns to keep (modify this list based on your requirements)
columns_to_keep = ['Accident_Index', 'Location_Easting_OSGR', 'Location_Northing_OSGR', 'Longitude', 'Latitude', 'Police_Force', 'Accident_Severity', 'Number_of_Vehicles', 'Number_of_Casualties', 'Date', 'Day_of_Week', 'Time', 'Local_Authority_(District)', 'Local_Authority_(Highway)', '1st_Road_Class', '1st_Road_Number', 'Road_Type', 'Speed_limit', 'Junction_Detail', 'Junction_Control', '2nd_Road_Class', '2nd_Road_Number', 'Pedestrian_Crossing-Human_Control', 'Pedestrian_Crossing-Physical_Facilities', 'Light_Conditions', 'Weather_Conditions', 'Road_Surface_Conditions', 'Special_Conditions_at_Site', 'Carriageway_Hazards', 'Urban_or_Rural_Area', 'Did_Police_Officer_Attend_Scene_of_Accident', 'LSOA_of_Accident_Location']

In [ ]:
# Keep only the selected columns
print("Column names in the dataset:\n", accidents.columns)

In [ ]:
# Check the columns after selection
print("Selected columns:\n", accidents.columns)

In [ ]:
# After eliminating extra variables, you can save the updated dataset to a new file
accidents.to_csv("accidents_columns.csv", index=False)

In [ ]:

# Check the shape of the dataset before removing duplicates
print("Shape of the dataset before removing duplicates:", accidents.shape)

In [ ]:
# Remove duplicates
accidents_no_duplicates = accidents.drop_duplicates()

In [ ]:
# Check the shape of the dataset after removing duplicates
print("Shape of the dataset after removing duplicates:", accidents_no_duplicates.shape)

In [ ]:

# Optionally, you can save the dataset without duplicates to a new file
accidents_no_duplicates.to_csv("accidents_no_duplicates.csv", index=False)

In [ ]:
import cufflinks as cf
import plotly.offline

In [ ]:
# Use Cufflinks with Plotly in offline mode
cf.go_offline()

# Create a box plot to visualize the distribution of a numeric variable
# For example, let's use the 'Number_of_Vehicles' column
accidents['Number_of_Vehicles'].iplot(kind='box', title='Box Plot of Number of Vehicles')

In [ ]:
# Detect and remove outliers based on a threshold
# For example, let's remove outliers for the 'Number_of_Vehicles' column using the Interquartile Range (IQR) method
Q1 = accidents['Number_of_Vehicles'].quantile(0.25)
Q3 = accidents['Number_of_Vehicles'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [ ]:
# Remove outliers
accidents_no_outliers = accidents[(accidents['Number_of_Vehicles'] >= lower_bound) & (accidents['Number_of_Vehicles'] <= upper_bound)]

In [ ]:
#Check the shape of the dataset after removing outliers
print("Shape of the dataset after removing outliers:", accidents_no_outliers.shape)

# Optional: Create a box plot after removing outliers to verify
accidents_no_outliers['Number_of_Vehicles'].iplot(kind='box', title='Box Plot of Number of Vehicles (Without Outliers)')

فاصل

In [ ]:
# Create a function to categorize accident severity
def category(accident_severity):
    if accident_severity == 1:
        return 'Fatal'
    elif accident_severity == 2:
        return 'Serious'
    elif accident_severity == 3:
        return 'Slight'
    else:
        return 'Unknown'

In [ ]:
# Apply the function and add it as 'Accident_Category' column
accidents['Accident_Category'] = accidents['Accident_Severity'].apply(category)

In [ ]:
data1=pd.read_csv('/kaggle/input/uk-accidents-10-years-history-with-many-variables/Accidents0514.csv')